@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
/* @import "../../vendor/livewire/flux/dist/flux.css"; */
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans:
        "Rethink Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

:root {
    --background: #222831;
    --background-2: #393e46;
    --background-3: #948979;
    --background-4: #dfd0b8;

    --button: #535441;
    --button-h: #6d6047;
    --button-text: #fffffe;

    --text-primary: #dfd0b8;
    --text-muted: #948979;
    --text-accent: #dfd0b8;
}

[x-cloak] {
    display: none !important;
}

ol,
li,
a,
ul {
    list-style: none;
    text-decoration: none;
}
