@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/thumbs";
/* @import "../../vendor/livewire/flux/dist/flux.css"; */
@source '../**/*.blade.php';
@source '../**/*.js';
/* @import "node_modules/swiper/swiper";
@import "node_modules/swiper/modules/navigation/navigation";
@import "node_modules/swiper/modules/pagination/pagination"; */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans:
        "Rethink Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-background: var(--background);
    --color-background-2: var(--background-2);
    --color-button: var(--button);
    --color-text-primary: var(--text-primary);
}

/* light */
:root {
    --background: #ffffff;
    --background-2: #f8fafc;
    --background-3: #f1f5f9;
    --button: #2563eb;
    --button-h: #1d4ed8;
    --button-text: #ffffff;
    --text-primary: #0f172a;
    --text-btn-header: #000;
    --text-muted: #64748b;
}

/* dark */
.dark {
    --background: #121212;
    --background-2: #1e1e1e;
    --background-3: #2d2d2d;
    --button: #3b82f6;
    --button-h: #2563eb;
    --button-text: #ffffff;
    --text-primary: #e5e7eb;
    --text-btn-header: #fff;
    --text-muted: #9ca3af;
}

[x-cloak] {
    display: none !important;
}

ol,
li,
a,
ul {
    list-style: none;
    text-decoration: none;
}

/* swiper */
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 15px;
}

.swiper-button-next,
.swiper-button-prev {
    color: black !important;
    width: 25px !important;
    height: 25px !important;
    background-color: white;
    border-radius: 100%;
    padding: 4;
    transition: all 0.2 ease-in-out;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.thumbSlider .swiper-slide-thumb-active {
    border-color: #3b82f6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--background-2) inset !important;
    -webkit-text-fill-color: var(--text-primary) !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* chrome, safari, edge, opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
